In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.master("local[1]").appName("word_count").getOrCreate()

In [2]:
from functools import reduce

In [3]:
data = [("James","M",60000),
        ("Michael","M",70000),
        ("Robert",None,400000),
        ("Maria","F",500000)
        ]

columns = ["name","gender","salary"]
df = spark.createDataFrame(data = data, schema = columns)

In [10]:
#find max value
df.select(max('salary'),min('salary')).first()

Row(max(salary)=500000, min(salary)=60000)

In [ ]:
data = [("Maria","F",500000),
        ("Jen","T",566),
        ("Jol","",909)]

columns = ["name","gender","salary"]
df1 = spark.createDataFrame(data = data, schema = columns)

In [ ]:
data = [("Maria","F"),
        ("Jen_1","T"),
        ("Jol_2","")]

columns = ["name","gender"]
df2 = spark.createDataFrame(data = data, schema = columns)

In [ ]:
mergedf = [df,df1]
unify = reduce(DataFrame.unionAll, mergedf)

In [ ]:
unify.show()

In [ ]:
unify_1 = reduce(DataFrame.unionByName, mergedf)
unify_1.show()

In [ ]:
def unite_dfs(df1,df2):
    return df1.unionByName(df2,allowMissingColumns = True)

In [ ]:
mergedf = [df,df1,df2]
dn_df = reduce(unite_dfs, mergedf)

In [ ]:
dn_df.show()

In [ ]:
data = [("1","11","01/01/2022 00:00:00","05/01/2022 00:00:00"),
        ("2","22","07/01/2022 00:00:00","10/01/2022 00:00:00"),
        ("3","33","09/01/2022 00:00:00","11/01/2022 00:00:00"),
        ("4","44","01/02/2022 00:00:00","05/02/2022 00:00:00"),
        ("5","55","03/02/2022 00:00:00","09/02/2022 00:00:00"),
        ("6","66","05/02/2022 00:00:00","10/02/2022 00:00:00")]

columns = ["pc_version","n_ticket","start_time","end_time"]
df = spark.createDataFrame(data = data, schema = columns)

In [ ]:
data = [("02/01/2022 00:00:00","03/01/2022 00:00:00"),
        ("05/01/2022 00:00:00","09/01/2022 00:00:00"),
        ("09/01/2022 00:00:00","11/01/2022 00:00:00"),
        ("01/02/2022 00:00:00","05/02/2022 00:00:00"),
        ("03/02/2022 00:00:00","09/02/2022 00:00:00"),
        ("05/02/2022 00:00:00","10/02/2022 00:00:00")]

columns = ["start_time","end_time"]
df1 = spark.createDataFrame(data = data, schema = columns)

In [ ]:
df.show()

In [ ]:
df1.show()

In [ ]:
df1_start_time = df1.select('start_time').rdd.flatMap(lambda x:x)

In [ ]:
df1_start_time.collect()

In [ ]:
df1_end_time = df1.select('end_time').rdd.flatMap(lambda x:x)

In [ ]:
df1_end_time.collect()

In [ ]:
dfs = ['02/01/2022 00:00:00',
 '05/01/2022 00:00:00',
 '09/01/2022 00:00:00',
 '01/02/2022 00:00:00',
 '03/02/2022 00:00:00',
 '05/02/2022 00:00:00']
dfs

In [ ]:
df.filter(col('start_time').isin(dfs)).show()