In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.master("local[1]").appName("accumulators").getOrCreate()

In [2]:
l1 = ["a abc","b abc","c abc"]
l2 = ['a abc','b abc']
l3 = ["abc","edf","ghi"]

In [4]:
#1.map(lambda x:x.uppercase())
rd1 = spark.sparkContext.parallelize(l1)
rd2 = spark.sparkContext.parallelize(l2)
rd3 = spark.sparkContext.parallelize(l3)

In [6]:
rd1.map(lambda x:(x.upper())).collect()

['A ABC', 'B ABC', 'C ABC']

In [7]:
rd2.map(lambda x:(x.upper())).collect()

['A ABC', 'B ABC']

In [8]:
rd3.map(lambda x:(x.upper())).collect()

['ABC', 'EDF', 'GHI']

In [9]:
rd1.flatMap(lambda x:(x.upper())).collect()

['A', ' ', 'A', 'B', 'C', 'B', ' ', 'A', 'B', 'C', 'C', ' ', 'A', 'B', 'C']

In [10]:
rd2.flatMap(lambda x:(x.upper())).collect()

['A', ' ', 'A', 'B', 'C', 'B', ' ', 'A', 'B', 'C']

In [11]:
rd3.flatMap(lambda x:(x.upper())).collect()

['A', 'B', 'C', 'E', 'D', 'F', 'G', 'H', 'I']

In [2]:
def check_count(df):
    df_accumulator = spark.sparkContext.accumulator(0)
    df.foreach(lambda x:df_accumulator.add(1))
    return df_accumulator

In [12]:
data = [(1,'ram',33),(2,'raki',30),(3,'raj',29),(4,'rohit',35),(None,'krish',28)]
cols = ['id','names','age']s
df = spark.createDataFrame(data = data, schema = cols)
df.show()

+----+-----+---+
|  id|names|age|
+----+-----+---+
|   1|  ram| 33|
|   2| raki| 30|
|   3|  raj| 29|
|   4|rohit| 35|
|null|krish| 28|
+----+-----+---+

In [4]:
spark

In [5]:
print(check_count(df))

5

In [6]:
df.count()

5

In [13]:
data = [(1,1,100),(2,2,200),(3,1,300),(4,3,300),(5,2,100),(6,3,100),(7,None,500),(8,4,400),(9,5,100)]
cols = ['id','cu_id','amount']
df1 = spark.createDataFrame(data = data, schema = cols)
df1.show()

+---+-----+------+
| id|cu_id|amount|
+---+-----+------+
|  1|    1|   100|
|  2|    2|   200|
|  3|    1|   300|
|  4|    3|   300|
|  5|    2|   100|
|  6|    3|   100|
|  7| null|   500|
|  8|    4|   400|
|  9|    5|   100|
+---+-----+------+

In [16]:
dff = df.select('id')
dff.show()

+----+
|  id|
+----+
|   1|
|   2|
|   3|
|   4|
|null|
+----+

In [28]:
dff1 = df1.select(col('cu_id')).distinct()
dff1.show()

+-----+
|cu_id|
+-----+
| null|
|    5|
|    1|
|    3|
|    2|
|    4|
+-----+

In [29]:
#inner join
dff.join(dff1,dff.id==dff1.cu_id).show()

+---+-----+
| id|cu_id|
+---+-----+
|  1|    1|
|  3|    3|
|  2|    2|
|  4|    4|
+---+-----+

In [30]:
#left join
dff.join(dff1,dff.id==dff1.cu_id,'left').show()

+----+-----+
|  id|cu_id|
+----+-----+
|null| null|
|   1|    1|
|   3|    3|
|   2|    2|
|   4|    4|
+----+-----+

In [31]:
#right join
dff.join(dff1,dff.id==dff1.cu_id,'right').show()

+----+-----+
|  id|cu_id|
+----+-----+
|null| null|
|null|    5|
|   1|    1|
|   3|    3|
|   2|    2|
|   4|    4|
+----+-----+

In [32]:
dff.join(dff1,dff.id==dff1.cu_id,'outer').show()

+----+-----+
|  id|cu_id|
+----+-----+
|null| null|
|null| null|
|   1|    1|
|   2|    2|
|   3|    3|
|   4|    4|
|null|    5|
+----+-----+

In [ ]:
df_acc = spark.sparkContext.accumulator(0)
df1_acc = spark.sparkContext.accumulator(0)

In [ ]:
df.foreach(lambda x:df_acc.add(1))
df1.foreach(lambda x:df1_acc.add(1))

In [ ]:
print(df_acc.value)
print(df1_acc.value)

In [ ]:
print(df.count())
print(df1.count())

In [ ]:
spark