In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.master("local[2]").appName("file_size").getOrCreate()

In [2]:
spark

In [3]:
df = spark.read.option("header",True).csv("../sales.csv")

In [4]:
df.show(1)

+----------+-------+----------+------------+--------+------+----------+-----------+--------+
|      Date|Product|Cost Price|Sell Price  |Quantity|Amount|Product_id|Customer_id|Customer|
+----------+-------+----------+------------+--------+------+----------+-----------+--------+
|01-01-2019|   soap|        25|        27.5|       6|   165|         1|          1| praveen|
+----------+-------+----------+------------+--------+------+----------+-----------+--------+
only showing top 1 row

In [5]:
df.show()

+----------+-------+----------+------------+--------+------+----------+-----------+--------+
|      Date|Product|Cost Price|Sell Price  |Quantity|Amount|Product_id|Customer_id|Customer|
+----------+-------+----------+------------+--------+------+----------+-----------+--------+
|01-01-2019|   soap|        25|        27.5|       6|   165|         1|          1| praveen|
|01-02-2019|   milk|        22|        24.2|       2|  48.4|         2|          1| praveen|
|01-03-2019|  dress|       600|         660|       1|   660|         3|          1| praveen|
|01-04-2019|biscuts|        50|          55|       5|   275|         4|          1| praveen|
|01-05-2019| chacos|        75|        82.5|       5| 412.5|         5|          1| praveen|
|01-06-2019|  shoes|       759|       834.9|       4|3339.6|         6|          1| praveen|
|01-07-2019|   fish|       229|       251.9|       2| 503.8|         7|          1| praveen|
|01-08-2019|   rice|       995|      1094.5|       8|  8756|         8|          1| praveen|
|01-09-2019|   soap|        25|        27.5|       6|   165|         1|          2|   srinu|
|01-10-2019|   milk|        22|        24.2|      12| 290.4|         2|          2|   srinu|
|01-11-2019|  dress|       600|         660|      48| 31680|         3|          2|   srinu|
|01-12-2019|biscuts|        50|          55|       9|   495|         4|          2|   srinu|
|01-01-2020| chacos|        75|        82.5|       2|   165|         5|          2|   srinu|
|01-02-2020|  shoes|       759|       834.9|       4|3339.6|         6|          2|   srinu|
|01-03-2020|   fish|       229|       251.9|       5|1259.5|         7|          2|   srinu|
|01-04-2020|   rice|       995|      1094.5|       6|  6567|         8|          2|   srinu|
|01-05-2020|   soap|        25|        27.5|      42|  1155|         1|          3|     sai|
|01-06-2020|   milk|        22|        24.2|       4|  96.8|         2|          3|     sai|
|01-07-2020|  dress|       600|         660|       5|  3300|         3|          3|     sai|
|01-08-2020|biscuts|        50|          55|       2|   110|         4|          3|     sai|
+----------+-------+----------+------------+--------+------+----------+-----------+--------+
only showing top 20 rows

In [6]:
df.count()

36

In [7]:
df.count()

36